*{
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color:#3943B7;
}
.header_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  color: #F8F4A6;
}
.header_links{
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.header_link{
  text-decoration: none;
  color: #F8F4A6;
}
.header_link:hover{
  color: #6B2737;
  transition: ease 0.5s;
}

.hero_container{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 2.5rem;
  background-color: #7bffb6;
  height: 200px;

}


.juego_container{
  padding-top: 30px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  
}

.title_containerJuego{
  display: inline-block;
  text-transform: uppercase;
  color: #3943B7;
  background-color: #E08E45;
  margin: 30px;
  border-radius: 50px;
}

.juego_form{
  margin: 1rem;
  padding: 0.5rem;
  color: rgb(106, 7, 199);
  background-color: #f38830;
}

.button-5 {
align-items: center;
background-clip: padding-box;
background-color: #f04c4c;
border: 1px solid transparent;
border-radius: .25rem;
box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-flex;
font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 16px;
font-weight: 600;
justify-content: center;
line-height: 1.25;
margin: 0;
min-height: 3rem;
padding: calc(.875rem - 1px) calc(1.5rem - 1px);
position: relative;
text-decoration: none;
transition: all 250ms;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: baseline;
width: auto;
}

.button-5:hover,
.button-5:focus {
background-color: #ae1dda;
box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
transform: translateY(-1px);
}

.button-5:active {
background-color: #0ff51a;
box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
transform: translateY(0);
}

.button-3 {
appearance: none;
background-color: #2ea44f;
border: 1px solid rgba(27, 31, 35, .15);
border-radius: 6px;
box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-block;
font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
font-size: 14px;
font-weight: 600;
line-height: 20px;
padding: 6px 16px;
position: relative;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: middle;
white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
box-shadow: none;
outline: none;
}

.button-3:hover {
background-color: #2c974b;
}

.button-3:focus {
box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
outline: none;
}

.button-3:disabled {
background-color: #94d3a2;
border-color: rgba(27, 31, 35, .1);
color: rgba(255, 255, 255, .8);
cursor: default;
}

.button-3:active {
background-color: #298e46;
box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}



.button-87 {
margin: 10px;
padding: 15px 30px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;
border-radius: 10px;
display: block;
border: 0px;
font-weight: 700;
box-shadow: 0px 0px 14px -7px #f09819;
background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
cursor: pointer;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-87:hover {
background-position: right center;
/* change the direction of the change here */
color: #fff;
text-decoration: none;
}

.button-87:active {
transform: scale(0.95);
}

.card_container{
  width: 300px;
  height: 150PX;
  background-color: #0ff51a;
  margin-top: 50px;
  border-radius: 10%;
}


.btnEliminar{
  margin-top: 30px;
  width: max-content;
}


.card_title{
  margin: 10px;
  color: #FFF;
}



.divJuego{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}