*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    color:black;
    transition: ease 1s;
}

.darkMode {
    background-color: black;
    color:white;
}



.form{
    width: 200px;
    height: max-content;
    margin: 80px auto;
    padding: 15px;
    background-color: #c6c6fa;
    opacity: 1;
    background-image:  radial-gradient(#f0cfdb 1.4500000000000002px, transparent 1.4500000000000002px), radial-gradient(#e7b5c8 1.4500000000000002px, #c6c6fa 1.4500000000000002px);
    background-size: 58px 58px;
    background-position: 0 0,29px 29px;
    border-radius: 15px;
    text-align: center;
    align-items: center;

}

#enviar{
    margin: 10px;
    width: 80%;
}